/* ===== EG Sites ===== */
/* ===== Jack Evgeni Grunin 200310426 ===== */
/* ===== miniport/Content/app.css ===== */
/* ===== CSS for EG Sites portfolio styles ===== */

body {
	margin: 0;
	background-color: #777;
	font: normal 17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

header {
  background: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  float: left;
}
/*NAVIGATION*/
nav {
  float: left;
  width: 100%;
}
nav ul {
  text-align: center;
  margin-top: -37px;
}
nav ul li {
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
  color: #fff;
}

/*MAIN*/
main {
  margin: 100px auto 40px;
  max-width: 1280px;
  padding: 20px;
  border: 2px solid black;
  background-color: #fff;
}
h2 {
  margin-top: -150px;
}
h3 {
  margin-top: -100px;
}
section {
  margin-top: 25%;
}
/*FOOTER*/
footer {
  color: #fff;
  position: fixed bottom;
}

