/* ===== EG Sites ===== */
/* ===== Jack Evgeni Grunin 200310426 ===== */
/* ===== miniport/Content/app.css ===== */
/* ===== CSS for EG Sites portfolio styles ===== */

body {
	margin: 50px;
	background-color: #777;
	font: normal 17px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

header {
  height: 135px;
}
/*NAVIGATION*/
nav {
  float: left;
  width: 100%;
}

/*MAIN*/
main {
  margin-top: 50px;
  max-width: 960px;
  min-height: 700px;
  padding: 20px;
  border: 2px solid black;
  background-color: #fff;
}
h2 {
  margin-top: 50px;
}
h1 {
	margin-top: 25px;
}
section {
  margin-top: 50px;
}
*{
	margin:0px;
	}
#slider {
	height:100px;
	width:320px;
	margin: 50px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	}
#image {
	height:100px;
	width:320px;
	position:absolute;
	}
.left_hold {
	height: 100px;
	width: 75px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 100px;
	width: 75px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:0;
	transition: all .2s ease-in-out 0s;
	}
.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:0;
	transition: all .5s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:0.6;
	}
.right_hold:hover .right {
	opacity:0.6;
}

/*SLIDER*/
/*#slider {
  width: 350px;
  height: 120px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 2000px;
  height: 120px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 350px;
  height: 120px;
}*/

/*FOOTER*/
footer {
  color: lightgoldenrodyellow;
  width: 100%;
  position: bottom;
}

